body{
    overflow-x: hidden;
      header{
         background-color: #272727;
          .container{
              padding-top: 1%;
              display: flex;
              max-width: 1300px;
              .site-adress-tel{
                  display: flex;
                  i{color: #F9B707;
                      font-size: 20px;
                      // margin-left: -25%; 
                      padding-right: 2%;
                      padding-left: 5%;  
  
                  }
                  P{
                      // padding-right: 1%;
  
                      // width: 100%;
                      color: white;
                      
                      a{ 
                          text-decoration: none;
                          color: white;
                          :hover{
                              text-decoration: none;
                              color: white;
                          }
                      }
                      color: white;
                      font-size: 16px;
                      line-height: 2s;
                      font-weight: 200;
                  }
              }
              .site-icon{
                  // margin-left: 44%;
                  float: right;
                  width: 18%;
                  margin-left: 29%;
                 
                  i{
                      color: white;
                      font-size: 16px;
                      margin: 0% 2% 0% 2%;
                      :hover{
                          color: #F9B707;
                          transition: 0.5s;
                      }
                      
                      :hover{
                          // transition: 2s;
                          color: #F9B707;
                      }
                  }
              }
          }
      }
      main{
          .head-sec{
          .navbar{
              background-color: #333333!important;
              a{
                  img{
                      margin-left: 105%;
                  }
              }
             .collapse{
                
                 
 .navbar-nav{
      width: 100%;
                 margin-left: 35%;
     .nav-item{
         .nav-link{
             color: white;
             :hover{
                 color: #F9B707;
                 transition: 0.2s;
             }

         }
     }
 }
 .form-inline{
     .form-control{

     }
     .button{
     color: #F9B707;
     }
 }
              }
          }
        }
        .section-about{
          .about-img{
              img{ 
                  width: 100%;
                  height: 48pc;
                position: relative;
                
              }
              .about-text{
                  position: absolute;
                  bottom: 45%;
                  right: 23%;

                  .line{
                      width: 2%;
                      height: 1px;
                      background-color: #F9B707;
                  }
                  h1{
                    font-family: "Montserrat", Sans-serif;
                    font-size: 60px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-style: normal;
                    line-height: 79.98px;
                    letter-spacing: 3.6px;
                    color: white;
                    text-align: center;
                  }
                  p{ color: #ffffff;
                    font-family: "Montserrat", Sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 34.02px;
                    letter-spacing: 1.08px;
                    text-align: center;
                    width: 99%;

                }
              }
          }
        }
        
      }
            footer{
                background-color: #333333;
                padding-top: 3%;
                .container{
                  padding-bottom: 3%;
                    margin-top: 4%;
                    .row{
                        .col-lg-4{
                            img{
                              width: 73%;
                            }
                            p{
                                width: 87%;
                                color: #707070;
                                font-size: 13px;
                                font-weight: 400;
                              line-height: 2;
                              letter-spacing: 1px;
                              text-align: left;
                            }
                        }
                        .col-lg-2{
                            h3{
                                color: white;
                                font-size: 19px;
                                font-weight: 400;
  
                            }
                            .list{
                                list-style: none;
                                padding: 0%;
  
                                .list-item{
                                  color: #F9B707;
                                  font-size: 13px;
                                  line-height: 2;
                                  text-align: left;
                                  text-transform: capitalize;
                                  :HOVER{
                                      color: white;
                                      transition: 0.5s;
                                  }
  
                                }
                            }}
                            .col-lg-3{
                                h3{
                                  color: white;
                                  font-size: 19px;
                                  font-weight: 400;
                                  // line-height: 2;
                                }
                                span{
                                    color: #888888;
                                    font-size: 12px;
                                    font-style: italic;
                                    line-height: 2;
                                }
                                a{
                                    text-decoration: none;
                                    color: white;
                                    font-size: 15px;
                                    text-align: left;
                                    :hover{
                                        color: #F9B707;
                                        transition: 0.5s;
                                    }
                                    
  
                                }
                                p{
                                  color: #888888;
                                  font-size: 12px;
                                  
                                  line-height: 2;
                                    a{
                                  text-decoration: none;
                                  font-size: 13px;
                                  color: #F9B707;
                                  :hover{
                                      color: white;
                                      transition: 0.5s;
                                  }
                                    }
                                }
                            }
                        
                    }
                  }
                    .footer-div{
                       
                        background-color: #272727;
                        p{ 
                          margin-left: 20%;
                            color: white;
                            font-size: 13px;
                            float: left;
                            a{ text-decoration: none;
                              color: #F9B707;
                              :hover{
                                  color: white;
                                  transition: 0.5s;
                              }
                          }
                        }
                        .footer-icon{
                           margin-left: 73%;
                            
                            i{
                             color: white;
                           letter-spacing: 2%;
                           transition: 0.5s;
  :hover{
      color: #F9B707;
  }
  
                             
                            }
                        }
                    }
                
            }
             
      }